.login {
  height: 100vh;
  background-image: linear-gradient(#0000007e, #0000007e), url('/background_banner.jpg');
  
  padding: 20px 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-logo {
  width: 150px;
  margin-bottom: 30px;
}

.login-form {
  width: 100%;
  max-width: 450px;
  background: rgba(0, 0, 0, 0.75);
  padding: 60px 68px 40px;
  border-radius: 5px;
  color: white;
}

.login-form h1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 28px;
}

.login-form input {
  width: 100%;
  height: 50px;
  background: #333;
  color: white;
  margin-bottom: 12px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 16px;
  background: #e50914;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}

.form-help {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 13px;
  margin-top: 15px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-switch {
  margin-top: 20px;
  font-size: 14px;
}

.form-switch span {
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}
