.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}
.title-cards {
  padding: 0 6%;
  margin-top: 30px;
  margin-bottom: 30px;
}


.title-cards h2 {
  
  margin-bottom: 10px;
  
}

.card-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}




.card-list img {
  width: 240px;
  border-radius: 4px;
  cursor: pointer;
}

.card-list .card {
  position: relative;
}
.card-list .card p {
  position: absolute;
  bottom: 10px;
  right:10px;
}

.card-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

