.navbar {
  width: 100%;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 14px;
  color: #e5e5e5;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
  z-index: 1;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-left ul li {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-right .icon { 
  cursor: pointer;
width: 20px;
}


.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  object-fit: cover;
  cursor: pointer;
}
.navbar-profile {
  display: flex;
  align-items: center;
  gap: 6px; /* Khoảng cách giữa avatar và caret */
}

.caret-icon {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.genre-dropdown {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}




@media (max-witdth: 800px){
  .navbar{
    padding: 20px 4%;
  }
  .navbar-left ul {
    display:none;
  }
  .navbar img{
    height:25px;
  }
}



@media(max-width: 500px){
  .navbar img {
    height:20px;
  }
  .navbar-right{
    gap:10px;
  }
}